{% extends 'layouts/basics.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="robots" content="noindex,follow" />
{% endblock %}

{% block contentId 'form' %}
{% block contentClass 'cookies' %}

{% block content %}
    <h1 class="cookies__title">{{ model.cookiesPage.title }}</h1>
    <div class="u-wysiwyg ">{{ model.cookiesPage.content|raw }}</div>
    {% form_theme model.formView 'helpers/fields.html.twig' %}

    {{- form_start(model.formView, {attr: {
        class: 'u-wysiwyg js-cookies-form'
    }}) -}}
        <section class="cookies__section">
            <div class="cookies__header u-flex--s768 u-flex--justify-between">
                <h2 class="cookies__subtitle">{{ 'cookies.mandatory_cookies.title'|trans }}</h2>
                {{- form_row(model.formView.mandatoryCookies) -}}
            </div>
            <p>{{ 'cookies.mandatory_cookies.text'|trans }}</p>
            {{ include('components/cookies-list.html.twig', {
                cookiesList: model.cookies.mandatory_cookies
            }) }}
        </section>
        <section class="cookies__section">
            <div class="cookies__header u-flex--s768 u-flex--justify-between">
                <h2 class="cookies__subtitle">{{ 'cookies.performance_cookies.title'|trans }}</h2>
                {{- form_row(model.formView.performanceCookies, {'attr': {
                    'class': 'js-cookies-performance-checkbox',
                }}) -}}
            </div>
            <p>{{ 'cookies.performance_cookies.text'|trans }}</p>
            {{ include('components/cookies-list.html.twig', {
                cookiesList: model.cookies.performance_cookies
            }) }}
        </section>
        <section class="cookies__section">
            <div class="cookies__header u-flex--s768 u-flex--justify-between">
                <h2 class="cookies__subtitle">{{ 'cookies.targeting_cookies.title'|trans }}</h2>
                {{- form_row(model.formView.targetingCookies, {'attr': {
                    'class': 'js-cookies-targeting-checkbox',
                }}) -}}
            </div>
            <p>{{ 'cookies.targeting_cookies.text'|trans }}</p>
            {{ include('components/cookies-list.html.twig', {
                cookiesList: model.cookies.targeting_cookies
            }) }}
        </section>
        {{- form_row(model.formView.send, {'attr': {
            'class': 'button js-cookies-save-preferences',
        }}) -}}
        <p class="small u-hide js-cookies-settings-saved">{{ 'cookies.updated'|trans }}</p>
    {{- form_end(model.formView) -}}
{% endblock %}
