{% extends 'layouts/default.html.twig' %}

{% block crp %}
    {% include 'helpers/inline-crp.html.twig' with { crp: 'crp.demo' } %}
{% endblock %}

{% block content %}
    <div class="demo">
        <section class="demp__section u-wrapper js-form-container">
            <div class="js-form-display">
                {% include 'components/contact-form.html.twig' with {
                    'class': 'js-validate form js-form-ajax',
                    'action': path('archetype.demo.contact'),
                } %}
            </div>
            <div class="form__ok js-form-success" style="display: none" aria-hidden="true">
                <h2 class="t-h2">{{ 'form.messages.ok_title'|trans }}</h2>
                <p class="p-big">{{ 'form.messages.ok_description'|trans }}</p>
            </div>
            <div class="form__ko js-form-error" style="display: none" aria-hidden="true">
                <h2 class="t-h2">{{ 'form.messages.ko_title'|trans }}</h2>
                <p class="p-big">{{ 'form.messages.ko_description'|trans }}</p>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
