{% extends 'layouts/billboard.html.twig' %}

{% block billboardImage asset('build/img/city-fog.jpg') %}
{% block billboardTitle 'Symfony Archetype' %}
{% block billboardDescription 'The Symfony Archetype is a boilerplate project implemented with Sonata Admin Bundle and following the Symfony Best Practices.' %}

{% block content %}
    <div class="demo">
        <section class="u-hide--s768 u-wrapper">
            <p>Modal message for mobile view only</p>
        </section>
        <section class="u-hide u-show--s768 u-wrapper">
            <p>Modal message for desktop view only</p>
        </section>
        <p class="u-sr-only">This message is for Screen Reader only</p>
        <section class="demo__section">
            <div class="u-wrapper">
                <h2>Build-in functionallities</h2>
                <p class="u-reading">You can follow the specifications in the docs files to read about template hierarchy and modularization</p>
                {#
                 # Anchors can be made using `data-anchor` attribute or `href`
                 # attribute
                 #}
                <ul>
                    <li><a href="#" class="js-anchor" data-anchor="#demo-module-layout">Modulable layouts</a></li>
                    <li><a href="#grid" class="js-anchor">Flexbox grid classes</a></li>
                </ul>
            </div>
        </section>

        {% embed 'layouts/section-demo.html.twig' %}
            {% block sectionId 'demo-module-layout' %}
            {% block sectionClass 'demo__section' %}
            {% block sectionAside %}
                <h2>Secciones como layouts</h2>
            {% endblock %}
            {% block sectionContent %}
                <p>Este tipo de layouts nos permite reutilizar estructuras de secciones que se repiten a lo largo de nuestro proyecto.</p>
                <ul>
                    <li>Nos permiten reducir la cantidad de código</li>
                    <li>Reducimos la velocidad de desarrollo de estas secciones</li>
                    <li>Son flexibles para recibir cualquier tipo de contenido</li>
                </ul>
            {% endblock %}
        {% endembed %}

        {% embed 'layouts/section-demo.html.twig' %}
            {% block sectionClass 'demo__section' %}
            {% block sectionAside %}
                <h2>Reutilizamos el mismo layout que antes</h2>
            {% endblock %}
            {% block sectionContent %}
                <h3>Tenemos contenidos distintos</h3>
                <img src="https://picsum.photos/300/200" alt="">
            {% endblock %}
        {% endembed %}

        {% include 'modules/demo-module.html.twig' %}

        <section class="demo__grid u-wrapper">
            <h2>Flexbox grid</h2>
            <p class="u-reading">Flexbox grid based on classes. This classes can be customize depending on the needed breakpoints and column sizes. The current grid is based on 24 columns</p>
            <div class="demo__section u-flex u-flex--wrap">
                <div class="demo__column u-flex--s768-8">
                    <h3>8-column</h3>
                    {% include 'components/blockquote.html.twig' with {
                        class: 'blockquote--clean',
                        quote: 'Derive of reason salvation overcome insofar insofar enlightenment against reason. Prejudice law contradict mountains oneself pinnacle zarathustra merciful against aversion ocean ultimate pious aversion.',
                        author: 'Friedrich Nietzsche'
                    } %}
                </div>
                <div class="demo__column u-flex--s768-8">
                    <h3>8-column</h3>
                    {% include 'components/blockquote.html.twig' with {
                        class: 'blockquote--clean',
                        quote: 'Against disgust endless overcome morality philosophy burying pinnacle dead deceptions.',
                        author: 'Friedrich Nietzsche'
                    } %}
                </div>
                <div class="demo__column u-flex--s768-8">
                    <h3>8-column</h3>
                    {% include 'components/blockquote.html.twig' with {
                        class: 'blockquote--clean',
                        quote: 'Love mountains deceptions convictions value self holiest disgust mountains selfish virtues. Philosophy passion convictions derive war strong holiest pinnacle free morality self play.',
                        author: 'Friedrich Nietzsche'
                    } %}
                </div>
            </div>
        </section>

        <section class="demo__section u-wrapper">
            <h2>This is a sample of a grid alignment</h2>
            <div class="u-flex u-flex--wrap u-flex--center">
                <div class="u-flex--s960-8" style="margin-right: 20px;">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                </div>
                <div class="u-flex--s960-8">
                    <img src="{{ asset('build/img/background.jpeg') }}">
                </div>
            </div>

            <div class="u-flex--s768 u-flex--wrap u-flex--justify-between">
                <div class="u-flex--s768-6">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="{{ asset('build/img/background.jpeg') }}">
                </div>
                <div class="u-flex--s768-6">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="{{ asset('build/img/background.jpeg') }}">
                </div>
                <div class="u-flex--s768-6">
                    <p>We're right above you. Stand by. You came in that thing? You're braver that I thought. Nice! Come on! It's them! Blast them! Get back to the ship!</p>
                    <img src="{{ asset('build/img/background.jpeg') }}">
                </div>
            </div>

        </section>

        <section class="demo__background" style="background-image: url({{ asset('build/img/background.jpeg') }})">
            <div class="u-wrapper u-flex--s960-8 u-center">
                <h5>Uh...Threepio, hand me those binders there will you? Okay.</h5>
                <p>
                    <strong>The Rebel Alliance is too well equipped.</strong>
                    They're more dangerous than you realize. Dangerous to your starfleet, Commander, not to this battle station! The Rebellion will continue to gain a support in the Imperial Senate as long as.... The Imperial Senate will no longer be of any concern to us. I've just received word that the Emperor has dissolved the council permanently. The last remnants of the Old Republic have been swept away.
                </p>
            </div>
        </section>

        <section class="demo__section u-wrapper u-wrapper--reading">
            <h2 class="">This is a sample of a reading section</h2>
            <h3>It is base on max-width (960px), not the grid</h3>
            <p>Biggs, Wedge, let's close it up. We're going in. We're going in full throttle. Right with you, boss. Luke, at that speed will you be able to pull out in time? It'll be just like Beggar's Canyon back home. We'll stay back far enough to cover you. My scope shows the tower, but I can't see the exhaust port! Are you sure the computer can hit it? Watch yourself! Increase speed full throttle! What about the tower? You worry about those fighters! I'll worry about the tower! Artoo...that, that stabilizer's broken loose again! See if you can't lock it down! I'm hit! I can't stay with you. Get clear, Wedge. You can't do any more good back there! Sorry!</p>
            <p>The approach will not be easy. You are required to maneuver straight down this trench and skim the surface to this point. The target area is only two meters wide. It's a small thermal exhaust port, right below the main port. The shaft leads directly to the reactor system. A precise hit will start a chain reaction which should destroy the station. Only a precise hit will set up a chain reaction. The shaft is ray-shielded, so you'll have to use proton torpedoes. That's impossible, even for a computer. It's not impossible. I used to bull's-eye womp rats in my T-sixteen back home. They're not much bigger than two meters. Man your ships! And may the Force be with you!</p>
            <p>Rendezvous at mark six point one. This is Red Two. Flying toward you. Red Three, standing by. Red Leader, this is Base One. Keep half your group out of range for the next run. Copy, Base One. Luke, take Red Two and Three. Hold up here and wait for my signal...to start your run. This is it! We should be able to see it by now. Keep your eyes open for those fighters! There's too much interference! Red Five, can you see them from where you are? No sign of any...wait! Coming in point three five. I see them. I'm in range. Target's coming up! Just hold them off for a few seconds.</p>
            <p>Didn't we just leave this party? What kept you? We ran into some old friends. Is the ship all right? Seems okay, if we can get to it. Just hope the old man got the tractor beam out of commission. Look! Come on, Artoo, we're going! Now's our chance! Go! No! Come on! Come on! Luke, its too late! Blast the door! Kid!</p>
            <p>Until this battle station is fully operational we are vulnerable. The Rebel Alliance is too well equipped. They're more dangerous than you realize. Dangerous to your starfleet, Commander, not to this battle station! The Rebellion will continue to gain a support in the Imperial Senate as long as.... The Imperial Senate will no longer be of any concern to us. I've just received word that the Emperor has dissolved the council permanently. The last remnants of the Old Republic have been swept away. That's impossible! How will the Emperor maintain control without the bureaucracy? The regional governors now have direct control over territories. Fear will keep the local systems in line. Fear of this battle station.</p>
        </section>

        <section id="grid" class="demo__grid demo__section u-wrapper u-flex u-flex--wrap">
            {% set boxes = [24, 12, 8, 6, 4] %}
            {% for box in boxes %}
                {% set columns = 24 / box %}
                {% for i in 1..columns %}
                    <div class="u-flex--s768-{{ box }} u-flex--center box">
                        <span style="word-break: break-all;">{{ box }}
                            columns</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>

        <section id="form" class="demp__section u-wrapper js-form-container">
            {%- for message in app.flashes('contact_form')|filter(message => message == 'success') -%}
                <h2 class="t-h2">{{ 'form.messages.ok_title'|trans }}</h2>
                <p class="p-big">{{ 'form.messages.ok_description'|trans }}</p>
            {%- else -%}
                <h2 class="u-flex--s480-24">This is a sample of a form</h2>
                {% include 'components/contact-form.html.twig' with {
                    'action': path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')|merge({'_fragment': 'form'})
                    ),
                } %}
            {% endfor %}

            <a href="{{ path('archetype.demo.route.ajax.form') }}" class="demo__link u-flex u-flex--center">Sample of Ajax Form</a>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
