{% macro breadcrumb(breadcrumb) %}{% spaceless %}
    <nav aria-label="Breadcrumb">
        <ul class="breadcrumbs">
            {% for element in breadcrumb %}
                <li class="breadcrumbs__item">
                    {% if element.url is defined %}
                        <a href="{{ element.url }}" class="breadcrumbs__link">{{ element.title }}</a>
                    {% else %}
                        <span class="breadcrumbs__item">{{ element.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement":
            [
            {% for element in breadcrumb %}
                {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "item":
                    {
                        {% if element.url is defined %}
                            "@id": "{{ element.url }}",
                        {% endif %}
                        "name": "{{ element.title }}"
                    }
                }
                {% if not loop.last %}
                ,
                {% endif %}
            {% endfor %}
            ]
        }
    </script>
{% endspaceless %}{% endmacro %}
