{% set locale = app.request.locale %}
<!doctype html>
<html lang="{{ locale }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ include('modules/tagmanager.html.twig') }}
        {% block metas %}
            {{ include('@RunroomSeo/metas.html.twig') }}
        {% endblock %}
        {% block headLinks %}
            {{ include('@RunroomSeo/head-links.html.twig') }}
        {% endblock %}
        {{ include('modules/favicon.html.twig') }}
        <style type="text/css">{% apply spaceless %}
            {% block crp %}
                {{ include('helpers/inline-crp.html.twig', {crp: 'crp.default'}) }}
            {% endblock %}
        {% endapply %}</style>
        {{ include('modules/cookies-scripts.html.twig') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {{ include('modules/tagmanager-noscript.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('modules/cookies.html.twig') }}
        {{ encore_entry_link_tags('styles') }}
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
