{%- block form_row -%}
    <div class="py-4 js-formField">
        {% set isTextarea = 'textarea' in form.vars.block_prefixes %}
        {% set fieldHeight = isTextarea ? 'h-48' : 'h-10' %}
        {{- form_label(form, null, {'label_attr': {'class': 'block text-sm mb-1'}}) -}}
        {{- form_widget(form, {'attr': {'class': 'w-full ' ~ fieldHeight ~ ' px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline'}}) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block submit_row -%}
    {% set attr = {class: 'button'}|merge(attr) %}
    <div class="py-4 js-formField">
        {{ block('submit_widget') }}
    </div>
{%- endblock submit_row -%}

{%- block choice_row -%}
    {%- set label_attributes = {} -%}
    {%- set row_tag = 'div' -%}

    {%- if expanded -%}
        {%- set label_attributes = {element: 'legend', label_attr: {id: id}} -%}
        {%- set row_tag = 'fieldset' -%}
    {%- endif -%}

    <{{ row_tag }} class="{{ expanded ? '' : 'relative inline-block w-full py-4' }} js-formField">
        {{- form_label(form, null, label_attributes) -}}
        {{- form_widget(form, {'attr': { 'class': expanded ? '' : 'w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline' }}) -}}
        {{- form_errors(form) -}}
    </{{ row_tag }}>
{%- endblock choice_row -%}

{%- block checkbox_row -%}
    <div class="flex flex-wrap items-center justify-start py-4 js-formField">
        {{- form_widget(form) -}}
        {{- form_label(form, null, {'label_attr': {'class': 'block ml-1'}}) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {%- if translation_domain is same as(false) -%}
                {{- label|raw -}}
            {%- else -%}
                {{- label|trans(label_params|default({}), translation_domain)|raw -}}
            {%- endif -%}
            {%- if required -%}
                {% if required_show|default(true) %}&nbsp;<span aria-hidden="true">{{ 'form.required_label_visible'|trans }}</span>{% endif %}
                <span class="sr-only">{{ 'form.required_label_screen_reader'|trans }}</span>
            {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block radio_label -%}
    {%- set required = false -%}

    {{- block('form_label') -}}
{%- endblock radio_label -%}

{%- block checkbox_label -%}
    {%- set required = false -%}

    {{- block('form_label') -}}
{%- endblock checkbox_label -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({
        'aria-labelledby': id,
        'role': multiple ? 'group' : 'radiogroup',
    }) -%}
    {%- set id = null -%}

    <ul {{ block('widget_container_attributes') }}>
    {%- for child in form -%}
        <li class="flex items-center justify-start py-1">
            {{- form_widget(child, {'attr': radio_attr|default({})}) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, 'label_attr': {'class': 'block ml-1'}}) -}}
        </li>
    {%- endfor -%}
    </ul>
{%- endblock choice_widget_expanded -%}

{%- block form_errors -%}
   {%- for error in errors -%}
       <span class="block text-xs my-1 text-rose-500 w-full">{{ error.message }}</span>
   {%- endfor -%}
{%- endblock form_errors -%}
