<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.metas is not empty %}
    {% set title = page.metas.title|striptags %}
    {% set description = page.metas.description|striptags %}
    {% set url = app.request.uri %}
    {% set imageUrl = null %}
    {% if page.metas.image is not empty %}
        {% set imagePath %}{% path page.metas.image, 'reference' %}{% endset %}
        {% set imageUrl = app.request.schemeAndHttpHost ~ imagePath %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="title" content="{{ title|u.truncate(70) }}" />
    {% if description is not empty %}
    <meta name="description" content="{{ description|u.truncate(155) }}" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title|u.truncate(95) }}" />
    {% if description is not empty %}
    <meta property="og:description" content="{{ description|u.truncate(300) }}" />
    {% endif %}
    {% if imageUrl is not empty %}
    <meta property="og:image" content="{{ imageUrl }}" />
    {% endif %}
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="{{ 'site_name'|translate }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title|u.truncate(70) }}" />
    {% if description is not empty %}
    <meta name="twitter:description" content="{{ description|u.truncate(200) }}" />
    {% endif %}
    {% if imageUrl is not empty %}
    <meta name='twitter:image' content='{{ imageUrl }}' />
    {% endif %}
    <meta name="twitter:url" content="{{ url }}" />
    <meta name="twitter:site" content="{{ 'twitter_name'|translate }}" />
{% endif %}
