{% if page.metas is not empty %}
    {% set url = app.request.uri %}
    {% set image_public_url = null %}
    {% if page.metas.image is not empty %}
        {% set image_relative_url %}{% path page.metas.image, 'reference' %}{% endset %}
        {% set image_public_url = app.request.schemeAndHttpHost ~ image_relative_url %}
    {% endif %}

    <title>{{ page.metas.title }}</title>
    <meta name="title" content="{{ page.metas.title|truncate(70) }}" />
    <meta name="description" content="{{ page.metas.description|striptags|truncate(155) }}" />
    <meta name="application-name" content="Runroom - Digital Crafts" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.metas.title|truncate(95) }}" />
    <meta property="og:description" content="{{ page.metas.description|striptags|truncate(300) }}" />
    {% if image_public_url is not empty %}
    <meta property="og:image" content="{{ image_public_url }}" />
    {% endif %}
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="Runroom" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.metas.title|truncate(70) }}" />
    <meta name="twitter:description" content="{{ page.metas.description|striptags|truncate(200) }}" />
    {% if image_public_url is not empty %}
    <meta name='twitter:image' content='{{ image_public_url }}' />
    {% endif %}
    <meta name="twitter:url" content="{{ url }}" />
    <meta name="twitter:site" content="@runroom" />
{% endif %}
