{% set title = component.title|default('') %}
{% set description = component.description|default(false) %}
{% set class = component.class|default('') %}
{% set image = component.image|default(false) %}
{% set attributes = component.attributes|default('') %}

<section class="flex items-center justify-center {{ class }}" {{ attributes }} {% if image %}style="background-image:url({{ image }});"{% endif %}>
    <div class="wrapper">
        {% if title %}
        <h1 class="mb-2">{{ title }}</h1>
        {% endif %}
        {% if description %}
            <p class="max-w-prose">{{ description }}</p>
        {% endif %}
    </div>
</section>
