{% from 'helpers/macros.html.twig' import icon %}

<footer id="footer" class="footer">
    <div class="wrapper footer__wrapper">
        &copy; Runroom {{ 'now'|date('Y') }}
        {{ icon('r-runroom', 'icon--small') }}
        <ul class="footer__links">
            {% for basicPage in get_basic_pages('footer') %}
            <li><a href="{{ path('runroom.basic_page.route.show', {'slug': basicPage.slug}) }}" class="text-current">{{ basicPage.title }}</a></li>
            {% endfor %}
            <li><a href="{{ path('runroom.cookies.route.cookies') }}" class="text-current">{{ 'cookies.policy'|trans }}</a></li>
        </ul>
    </div>
</footer>
